include ../mixin/mixin-lorem-ipsum.jade
.main-content
	include ../mould-partials/navbar--a
	.row
		.col-xs-12
			.main-content__title 到期日通知
	.row
		.col-xs-4.col-sm-2
			.item-list__pic
				img(src='images/icons/png/Clipboard.png')
		.col-xs-8.col-sm-10
			.item-list__text
				- each i in new Array(2)
					p 
						+lipsum(5, "sentences")
	.row
		.col-xs-12
			.main-content__title 異常記錄
	.row
		ul.reset-list
			- each i in new Array(4)
				li
					.col-xs-4.col-sm-2
						.item-list__pic
							img(src='images/icons/png/Clipboard.png')
					.col-xs-8.col-sm-10
						.item-list__text
							- each i in new Array(2)
								p 
									+lipsum(5, "sentences")