h3 搜尋

form
	.form-group.mb-xl
		.input-group
			input.form-control(type="text")
			span.input-group-btn
				button.btn.btn-default(type="button") 搜尋

.row

	.col-lg-3
		hr.mt0
		h4.m0.pb-lg 檢索分類

		ul.list-inline
			li.mv-sm
				a(href="#").btn.btn-info.btn-sm UI
			li.mv-sm
				a(href="#").btn.btn-info.btn-sm UX
			li.mv-sm
				a(href="#").btn.btn-info.btn-sm GUI
			li.mv-sm
				a(href="#").btn.btn-info.btn-sm Front-End
			li.mv-sm
				a(href="#").btn.btn-info.btn-sm Web
			li.mv-sm
				a(href="#").btn.btn-info.btn-sm Mobile
			li.mv-sm
				a(href="#").btn.btn-info.btn-sm APP

		hr
		
		h4.m0.pb-lg 搜尋

		.form-group.mb-xl
			.checkbox.c-checkbox
				label
					input#inlineCheckbox10(type='checkbox', value='option1')
					span.fa.fa-check
					|  項目一
			.checkbox.c-checkbox
				label
					input#inlineCheckbox20(type='checkbox', value='option2')
					span.fa.fa-check
					|  項目二
			.checkbox.c-checkbox
				label
					input#inlineCheckbox30(type='checkbox', value='option3')
					span.fa.fa-check
					|  項目三
		.text-right
			button(type="button").btn.btn-sm.btn-default 套用
		hr


	.col-lg-9
		// START panel
		.panel.panel-default
			.panel-heading
				button.pull-right.btn.btn-xs.btn-default 清除
				| 檢索結果：共 500 筆: 
				span.text-success "AAA"
				paneltool(tool-refresh="traditional")
			// START table-responsive
			.table-responsive
				table.table
					tbody
						tr
							td
								.media
									a.pull-left(href='#')
										img.media-object.img-responsive.img-rounded.thumb64(src="app/img/dummy.png", alt="")
									.media-body
										h4.media-heading 
											a(href="#").text-inverse Curabitur pulvinar tristique bibendum. 
										p.text-muted Sed gravida auctor odio. Sed viverra rutrum hendrerit. Praesent dapibus justo dolor. Suspendisse rhoncus consectetur eros vehicula accumsan. 
										a(href="#").mr.label.label-primary 標籤 
										a(href="#").mr.label.label-primary 關鍵字
										a(href="#").mr.label.label-primary 檢索條件

						tr
							td
								.media
									a.pull-left(href='#')
										img.media-object.img-responsive.img-rounded.thumb64(src="app/img/dummy.png", alt="")
									.media-body
										h4.media-heading 
											a(href="#").text-inverse Curabitur pulvinar tristique bibendum. 
										p.text-muted Sed gravida auctor odio. Sed viverra rutrum hendrerit. Praesent dapibus justo dolor. Suspendisse rhoncus consectetur eros vehicula accumsan. 
										a(href="#").mr.label.label-primary 標籤 
										a(href="#").mr.label.label-primary 關鍵字
										a(href="#").mr.label.label-primary 檢索條件
						tr
							td
								.media
									a.pull-left(href='#')
										img.media-object.img-responsive.img-rounded.thumb64(src="app/img/dummy.png", alt="")
									.media-body
										h4.media-heading 
											a(href="#").text-inverse Etiam feugiat risus massa. 
										p.text-muted Sed gravida auctor odio. Sed viverra rutrum hendrerit. Praesent dapibus justo dolor. Suspendisse rhoncus consectetur eros vehicula accumsan. 
										a(href="#").mr.label.label-primary 標籤 
										a(href="#").mr.label.label-primary 關鍵字
										a(href="#").mr.label.label-primary 檢索條件
						tr
							td
								.media
									a.pull-left(href='#')
										img.media-object.img-responsive.img-rounded.thumb64(src="app/img/dummy.png", alt="")
									.media-body
										h4.media-heading 
											a(href="#").text-inverse Curabitur pulvinar tristique bibendum. 
										p.text-muted Sed gravida auctor odio. Sed viverra rutrum hendrerit. Praesent dapibus justo dolor. Suspendisse rhoncus consectetur eros vehicula accumsan. 
										a(href="#").mr.label.label-primary 標籤 
										a(href="#").mr.label.label-primary 關鍵字
										a(href="#").mr.label.label-primary 檢索條件
						tr
							td
								.media
									a.pull-left(href='#')
										img.media-object.img-responsive.img-rounded.thumb64(src="app/img/dummy.png", alt="")
									.media-body
										h4.media-heading 
											a(href="#").text-inverse Nullam ultricies, urna ac aliquet fringilla, eros velit vehicula elit, at faucibus velit erat eu ante. 
										p.text-muted Sed gravida auctor odio. Sed viverra rutrum hendrerit. Praesent dapibus justo dolor. Suspendisse rhoncus consectetur eros vehicula accumsan. 
										a(href="#").mr.label.label-primary 標籤 
										a(href="#").mr.label.label-primary 關鍵字
										a(href="#").mr.label.label-primary 檢索條件
						tr
							td
								.media
									a.pull-left(href='#')
										img.media-object.img-responsive.img-rounded.thumb64(src="app/img/dummy.png", alt="")
									.media-body
										h4.media-heading 
											a(href="#").text-inverse Curabitur pulvinar tristique bibendum. 
										p.text-muted Sed gravida auctor odio. Sed viverra rutrum hendrerit. Praesent dapibus justo dolor. Suspendisse rhoncus consectetur eros vehicula accumsan. 
										a(href="#").mr.label.label-primary 標籤 
										a(href="#").mr.label.label-primary 關鍵字
										a(href="#").mr.label.label-primary 檢索條件
			// END table-responsive
			.panel-footer
				ul.pagination.pagination-sm
					li.active: a(href='#') 1
					li: a(href='#') 2
					li: a(href='#') 3
					li: a(href='#') 4
					li: a(href='#') »
		// END panel
