extends layouts/default

append mainVars
	- currentPage = 'pac--manager'
	- pageTitle = 'This is the title'
	- metaDesc = 'This is the page description.'

block content
	.container
		.row
			.col-xs-3
				include layouts/mould-partials/sidebar
			.col-xs-9
				include layouts/mould-partials/content--pac--manager.jade