$sideBackground:  #F1F3FA;
$wet-asphalt:     #5a7391 !default;
$font-family-base:          'Helvetica Neue', 'cwTeXHei', Helvetica, Arial, sans-serif !default;
$font-family-demo:          'Helvetica Neue', Helvetica, Arial, sans-serif !default;
$font-family-monospace:     Monaco, Menlo, Consolas, 'Courier New', monospace !default;